html, body {
  height: 100%;
}
body {
  background-color: #eee
}
.row {
  margin-right: 0;
  margin-left: 0
}
.navbar-hr {
  background: #373737;
  border-top: 1px solid #101010;
  height: 1px;
  margin-top: 10px
}
#sidebar {
  background-color: #eee;
  height: 100%;
  position: fixed;
  padding-left: 0;
  right: 0
}
#btn-municipios {
  top: 30px;
  right: 20px;
  position: absolute;
  z-index: 2000 !important
}
.form-persona {
  margin-top: 10px
}
.navbar-banderas .nav {
  font-size: 20px;
  font-weight: bold;
}
.navbar-banderas .nav > li > a {
  color: #333
}
.navbar-banderas .nav > li > a:hover, .navbar-banderas .nav > li > a:focus {
  background: none;
}
.btn-primary {
  background-color: #222;
  border-color: #080808;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #444;
  border-color: #080808;
}
@media (max-width: 768px)  {
  body {
    padding-top: 170px
  }
}