Homepage:
    pattern:  /
    defaults: { _controller: "Application:Index:index"}



Albergues_JSON:
    pattern: /lugares/albergues.json
    defaults: { _controller: "Application:Lugar:getAlbergues" }

Centros_JSON:
    pattern: /lugares/centros.json
    defaults: { _controller: "Application:Lugar:getCentros" }

Evacuadas_JSON:
    pattern: /lugares/evacuadas.json
    defaults: { _controller: "Application:Lugar:getEvacuadas" }


Afectadas_JSON:
    pattern: /lugares/afectadas.json
    defaults: { _controller: "Application:Lugar:getAfectadas" }



Personas_JSON:
    pattern: /personas.json
    defaults: { _controller: "Application:Persona:getPersonas" }


Search_Personas_JSON:
    pattern: /buscar/personas.json
    defaults: { _controller: "Application:Persona:search" }
    requirements:
            _method: POST

Reportar_Lugares_Create:
    pattern: /lugares/reportar
    defaults: { _controller: "AdminModule:Lugar:reportar" }
    requirements:
        _method: POST